.main {
  background-color: #242582;
  width: 500px;
  height: 650px;
  margin: 9em auto;
  border-radius: 1.5em;
  position: fixed;
  left: 470px;
  top: 10px;
}

.pricing-title {
    color: #FEFFFF;
    letter-spacing: -2px;
    font-weight: 450;
    font-size: 45px;
    position: fixed;
    left: 525px;
    top: 150px;
  }


  .pricing-features {
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 28px;
    color: #FEFFFF;
    text-align: center;
    padding: 2px;
  }


  .pricing-para-signup {
    letter-spacing: -1px;
    font-weight: 100;
    font-size: 35px;
 
  }

  #features-pricing-link {
    color: #F64C72;
  }

  .start-trial-link {
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 30px;
    color: #FEFFFF;
    text-align: center;
  }

  #features-pricing-link:hover,
#features-pricing-link:focus {
  color: #FEFFFF;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}